@model ViewUsersModel

@{
	ViewData["Title"] = "Users";
}



<div class="text-center">
	<h1>Admin Page</h1>
	<h2>View Youniverse Accounts</h2>
	<a asp-action="Index">Back</a><br>
	<form method="get">
		<input type="text" asp-for="Search">
		<label asp-for="OnlyClockedIn">Clocked In</label>
		<input type="checkbox" name="OnlyClockedIn" value="true" @(Model.OnlyClockedIn ? "checked" : "") />
		<label asp-for="YouAccounts">You Accounts</label>
		<input type="checkbox" name="YouAccounts" value="true" @(Model.YouAccounts ? "checked" : "") />
		<input type="submit" value="Search">

	</form>
</div>
<br>
<div class="item-list">
	<div class="item-entry">
		<form action="EditUser" method="post">
			<div class="item-id">
				<span>Student ID</span>
			</div>
			<span> | </span>
			<div class="item-name">
				<span>Name</span>
			</div>
			<span> | </span>
			<div class="item-clocked">
				<span>In Lab</span>
			</div>
			<span> | </span>
		</form>
	</div>
	@foreach (ViewUsersModel.UserData entry in Model.Users)
	{
		<div class="item-entry">
			<form method="post">
				<input type="hidden" value="@entry.Id" name="EditId">
				<div class="item-id">
					<span>@(entry.StudentId?.ToString())</span>
				</div>
				<span> | </span>
				<div class="item-name">
					<input type="text" value="@entry.Name" name="EditName">
				</div>
				<span> | </span>
				<div class="item-clocked">
					<input type="checkbox" name="EditClockedIn" value="true" @(entry.ClockedIn ? "checked" : "") />
					<input type="hidden" name="EditClockedIn" value="false" />
				</div>
				<span> | </span>
				<div class="item-save">
					<input type="submit" value="Save">
				</div>
			</form>
			<span> | </span>
			<div class="item-delete">
				<form action="DeleteUser" method="post">
					<input type="hidden" name="EditId" value="@entry.Id">
					<input type="submit" value="Delete">
				</form>
			</div>
			<span> | </span>
			<div class="item-edit">
				<a asp-action="Edit?id=@entry.Id">Edit</a>
			</div>
		</div>
	}
</div>

<style>
	.item-list {
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		justify-self: center;
		max-width: 800px;
	}

	.item-entry {
		border-color: grey;
		border-width: 1px;
		border-style: solid;
		align-items: center;
		display: flex;
	}

	.item-entry div {
		display: inline-block;
	}

	.item-id {
		width: 96px;
	}

	.item-name {
		width: 200px;
	}

	.item-name input {
		width: 100%;
	}

	.item-clocked {
		width: 75px;
	}
</style>